.category-preview-container {
    display: flex;
    flex-direction: column;
    margin-bottom: 30px;
    .title {
        font-size: 15px;
        font-style: sans-serif;
        margin-bottom: 25px;
        cursor: pointer;
        border: 2px solid rgb(108, 54, 145);
        border-radius: 3px;
        background-color: yellow;
        &:hover {
            background-color: rgb(54, 233, 212);
        }
    }
    .preview {
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        column-gap: 20px;
    }
}